{% load static %}
<!-- Esto es un comentario -->
<!-- con target="__blank" se abre en otra pagina" -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="./media/logoo.jpg" />
    <link rel="stylesheet" href="{% static 'members/css/style.css' %}" />

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />

    <title>Mad Kingdom</title>
</head>

<body style="background-color: #D8D8D8;">
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">

            <div class="container-fluid">
                <img src="./media/logo.png" alt="" style="height: 50px; width: 60px;">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Base de datos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Metodos de pago</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-disabled="true">No se ACEPTAN DEVOLUCIONES</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <div class="containerReg">
        <img src="./media/logo.png" alt="" style="width: 25rem; height: 18rem; transform: scale(0.9)">
    </div>

    <form class="formPers">
        <!-- Campo de correo -->
        <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input type="name" class="form-control" id="name" placeholder="Leonel" required />
        </div>
        <!-- Campo de contraseña -->
        <div class="mb-3">
            <label for="apellido" class="form-label">Apellido</label>
            <input type="apellido" class="form-control" id="apellido" placeholder="Messi" required />
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Correo Electrónico</label>
            <input type="email" class="form-control" id="email" placeholder="nombre@ejemplo.com" required />
        </div>
        <!-- Campo de contraseña -->
        <div class="mb-3">
            <label for="user" class="form-label">Usuario</label>
            <input type="user" class="form-control" id="user" placeholder="LeonelMessi10" required />
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" placeholder="••••••••" required />
        </div>
        <!-- Campo de contraseña -->
        <div class="mb-3">
            <label for="password" class="form-label">Repetir contraseña</label>
            <input type="password" class="form-control" id="2password" placeholder="••••••••" required />
        </div>
        <!-- Botón de registro -->
        <button type="submit" class="btn w-100" style="background-color: #0A1719; color: white">
            Registrarse
        </button>
        <p style="text-align: right;">¿Ya tienes una cuenta? <a href="{%url 'login' %}">Inicie sesion aqui</a></p>
    </form>


    <footer>
        <hr>
        <p style="padding-left: 1rem;">Gracias por visitarnos!,  desde ya aclaramos que es una pagina libre de Copyright ©</p>
      </footer>
</body>

</html>