  .customCarousel {
    height: 800px; /* Ajusta el valor según tu preferencia */
  }
  
  #customCarousel .carousel-inner {
    height: 100%; /* Asegura que las imágenes llenen el contenedor */
  }
  
  #customCarousel .carousel-item img {
    object-fit: cover; /* Hace que las imágenes se ajusten sin deformarse */
    height: 100%;   
    width: 100%;
  }

  .marginLR {
    margin-left: 5%;
    margin-right: 5%;
  }
  .marginR {
    margin-right: 1%;
  }
  .marginB {
    margin-bottom: 1%;
  }
  .formPers {
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 20%;
    margin-right: 20%;
  }

  .container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 500px; /* Altura del div */
    border: none;
    overflow: hidden;
}

a.linksdeco {
    color: black; /* Cambia el color del texto */
    text-decoration: none; /* Elimina el subrayado */
}